@import "tailwindcss";

@layer base {
    .line-code-block {
        @apply px-2 py-1 mx-1 bg-gray-200 rounded-md text-gray-600 font-mono;
    }
}

@layer utilities {
    * {
        scroll-behavior: smooth;

        /* Edge */
        -ms-overflow-style: none;
        /* Firefox */
        scrollbar-width: none;
        /* Safari & Chrome */
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
